<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.food.dao.PartyMapper" >
  <resultMap id="BaseResultMap" type="com.food.pojo.Party" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="pmoney" property="pmoney" jdbcType="DOUBLE" />
    <result column="pnumber" property="pnumber" jdbcType="INTEGER" />
    <result column="partyTime" property="partytime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="pImg" property="pimg" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, uid, pname, pmoney, pnumber, partyTime, endTime, pImg, tag, type, province, 
    city, area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from party
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from party
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.food.pojo.Party" >
    insert into party (pid, uid, pname, 
      pmoney, pnumber, partyTime, 
      endTime, pImg, tag, 
      type, province, city, 
      area)
    values (#{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, 
      #{pmoney,jdbcType=DOUBLE}, #{pnumber,jdbcType=INTEGER}, #{partytime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{pimg,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.food.pojo.Party" >
    insert into party
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="pmoney != null" >
        pmoney,
      </if>
      <if test="pnumber != null" >
        pnumber,
      </if>
      <if test="partytime != null" >
        partyTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="pimg != null" >
        pImg,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pmoney != null" >
        #{pmoney,jdbcType=DOUBLE},
      </if>
      <if test="pnumber != null" >
        #{pnumber,jdbcType=INTEGER},
      </if>
      <if test="partytime != null" >
        #{partytime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pimg != null" >
        #{pimg,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.food.pojo.Party" >
    update party
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pmoney != null" >
        pmoney = #{pmoney,jdbcType=DOUBLE},
      </if>
      <if test="pnumber != null" >
        pnumber = #{pnumber,jdbcType=INTEGER},
      </if>
      <if test="partytime != null" >
        partyTime = #{partytime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pimg != null" >
        pImg = #{pimg,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.food.pojo.Party" >
    update party
    set uid = #{uid,jdbcType=INTEGER},
      pname = #{pname,jdbcType=VARCHAR},
      pmoney = #{pmoney,jdbcType=DOUBLE},
      pnumber = #{pnumber,jdbcType=INTEGER},
      partyTime = #{partytime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      pImg = #{pimg,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>